.container {
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.data {
    margin: 0;
    padding-left: 4px;
    
}

.btn {
height: 32px;
margin-left: auto;
}

.icon {
    display: flex;
    flex-direction: column;
    gap: 8px;
}